.item-image-box-200{
	width:200px;
	height:200px;
}
.pager{
    width:100%;
	text-align:center;
}

/*ボタン拡大ver*/
.submit_btn_box2{
	width : 500px;
	display : block;
	margin-top : 10px;
	margin-left : 200px;
	float:left;
	/*フェードイン*/
	animation: fadeIn 5s ease 0s 1 normal;
	-webkit-animation: fadeIn 5s ease 0s 1 normal;
}
.submit_btn2{
	padding : 0.5em 1em;
	text-decoration: none;
	width: 100%;
	height : 100px;
	margin-top : -5px;
	margin-left : 6px;
	margin-bottom:20px;
	font-size : 50px;
	text-align : center;
	/*画面操作*/
	background-color: #C5E99B;
    border: 2px solid black;
    color: black !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}