
/* ======== productList.jsp ======== */
#main{
	text-align: center;
}
#newItemList{
	display: inline-block;
	width: 1000px;
	text-align: center;
}
#newItemBox{
	display: inline-block;
	border: 2px solid #ddbb55;
	border-radius: 5px;
    box-shadow:2px 2px #1a6ea0;
	background-color: #ffffdd;
	margin: 20px;
	padding: 10px;
}
#newItemList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin_bottom: -2px;
}
#newItemList ul li {
  padding: 2px;
}
#newItemList #item_image_box{
	display: table-cell;
	width: 230px;
	height: 230px;
	margin: 0 auto;
	background: white;
	vertical-align: middle;
	margin-bottom: 10px;
}
#newItemList #item_image{
	max-width: 230px;
	max-height: 230px;
	width: auto;
	height: auto;
	vertical-align: middle;
}

/* ======== productDetails.jsp ======== */
#item_detail {
	width: 880px;
	height: 420px;
	border: 2px solid #ddddaa;
	border-radius: 10px;
	margin: 0 auto;
	margin_bottom: 30px;
	padding: 0;
	text-align: center;
	background-color: #ffffee;
}

#item_detail #left_box{
	display: inline-block;
	width: 350px;
	height: auto;
	margin: 0;
	margin-right: 1%;
	margin-top: 20px;
/*	border: 1px solid green; */
	padding-top: 10px;
}
#item_detail h2{
	text-align: center;
}
#item_detail #right_box{
	display: inline-block;
	width: 460px;
	height: auto;
	text-align: left;
	border: 1px solid green;
	padding: 0;
	padding-top: 0px;
}

#item_detail #left_box table{
	margin: 0;
}
#item_detail #left_box th{
	font-size: 18px;
/* 	border: 1px solid #ffccbb */
}
#item_detail #left_box td{
	font-size: 18px;
/* 	border: 1px solid #ffc677; */
}
#item_detail #item_image_box{
	display: table-cell;
	width: 310px;
	height: 310px;
	vertical-align: middle;
	text-align: center;
	background: #ffddaa;
	border-radius: 5px;
    box-shadow:2px 2px #9a6e10;
}
#item_detail #item_image_box img{
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	vertical-align: middle;
}


table#item_info{
	width: 450px;
	background-color: #ddffcc;
	border: 2 bouble black;
	font-size: 18px;
}
table#item_info th{
	width: 30%;
	padding: 2px;
}
table#item_info td{
	width: 100%;
	text-align: left;
	padding: 2px;
}

#related_product_list{
	width: 800px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #ffccbb;
	text-align: center;
}

#related_product_list #product_box{
	display: inline-block;
	border: 2px solid #ddbb55;
	border-radius: 5px;
    box-shadow:2px 2px #1a6ea0;
	background-color: #ffeebb;
	margin: 10px;
	padding: 10px;
}
#related_product_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#related_product_list #item_image_box{
	display: table-cell;
	width: 210px;
	height: 210px;
	margin: 0 auto;
	background: white;
	vertical-align: middle;
	margin-bottom: 10px;
}
#related_product_list #item_image{
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	vertical-align: middle;
}